ZoomPedalFun-main/ 
zoom-fx-modding-ref/
Zoom-Firmware-Editor-master/
zdl_candidates/
airwindows-ref/
zdownload-master/
zoom-fx-modding-main
*.pdf
.DS_Store
__pycache__/
pycache_/
*.pyc
src/airwindows/*/*.obj
src/airwindows/*/*_params.h
!src/airwindows/common/zoom_params.h
